# Run files
*.exe
tempCodeRunnerFile.*

# Data
dist/
archive/
test/

# Images
# *.png
# *.PNG
# *.gif
# *.jfif
# *.jpg

# Test files
*.in
*.out
*.ans
*.o
test*.*
*tmp*.*
*temp*.*
dbg.h

# Log
*.log

# Compressed files
*.zip
*.rar
*.7z
*.tar
*.x
*.gz

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.pdf

# Rust
*.pdb
target/
